<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/index.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="./my-input.html">
<link rel="import" href="./my-button.html">
<link rel="import" href="./my-output.html">

<dom-module id="my-app">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: block;
            }
            
            h1 {
                text-align: center;
            }

        </style>
        <h1>Space converter</h1>
        <iron-pages class="layout vertical center-justified">
            <div>
                <my-input user-input="{{user-input}}"></my-input>
                <my-button app-output="[[app-output]]"></my-button>
                <my-output user-input="[[user-input]]" app-output="{{app-output}}"></my-output>
            </div>
        </iron-pages>
    </template>

    <script>
        Polymer({

            is: 'my-app',
            properties: {
                'user-input': {
                    type: String,
                    notify: true,
                    value: String(),
                    observer: 'userInputChanging'
                },
                'app-output': {
                    type: String,
                    notify: true,
                    value: String()
                }
            },
            userInputChanging: userInputChanging
        });


        function userInputChanging(_v) {
            const userInput = _v;
            const converter = new Converter(String());
            converter.setProp('_text', userInput);
            this.set('app-output', converter.getResult());
        }

        class Converter {
            constructor(text) {
                this._text = String(text);
            }

            getProp() {
                return String(this._text);
            }

            setProp(prop, value) {
                this[prop] = String(value);
            }

            getResult() {
                if (this._text === String()) {
                    return String();
                } else {
                    return String(' ') + this._text.split('').reduce((a, b) => {
                        return a + ` ${b}`;
                    });
                }
            }
        }

    </script>
</dom-module>
