<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/index.html">

<dom-module id="my-button">
    <template>
        <style>
            :host {
                display: block;
            }
            
            paper-button {
                width: 100%;
                background-color: var(--paper-indigo-500);
                color: white !important;
            }

        </style>
        <paper-button class="copy" on-tap="tapHandler" raised>Copy to clipboard&nbsp;
            <iron-icon icon="icons:content-copy"></iron-icon>
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'my-button',
            properties: {

            },
            tapHandler: function(e) {
                //                const scope=document.querySelector('my-app');
                let text = this.get('app-output');
                let clipboard = new Clipboard('.copy', {
                    text: function(trigger) {
                        return text;
                    }
                });


                //                scope.set('user-input',document.querySelector("my-input").get('user-input'));
                //                
                //                const converter=new Converter(String());
                //                
                //                converter.setProp('_text',scope.get('user-input'));
                //                scope.set('app-output',converter.getResult());

            }
        });

    </script>
</dom-module>
