<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="my-input">
    <template>
        <style>
            :host {
                display: block;
            }

        </style>
        <paper-textarea id="my-input" label="text input" value="{{user-input}}"></paper-textarea>
    </template>

    <script>
        Polymer({
            is: 'my-input',
            properties: {
                'user-input': {
                    type: String,
                    notify: true,
                    value: String()
                        //                    ,observer: 'userInputChanging'
                }
            }
            //            ,userInputChanging: function(e) {
            //                console.log(e);
            //            }
        });

    </script>
</dom-module>
