<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="my-output">
    <template>
        <style>
            :host {
                display: block;
            }

        </style>
        <!--        <h1>[[user-input]]</h1>-->
        <paper-textarea id="my-output" label="text output" value="{{app-output}}" readonly></paper-textarea>
        <!--        <paper-textarea id="my-output" label="text output" value="[[user-input]]" readonly></paper-textarea>-->
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'my-output',
            properties: {
                'user-input': {
                    type: String,
                    notify: true,
                    value: String(),
                    //                    observer: 'userInputChanging'
                }
            },
            //            userInputChanging: userInputChanging
        });

    </script>
</dom-module>
